/*
Gutenberg編集画面に適用するcss
-----------------------------------------------------*/

/* -------------------------
共通
------------------------- */
.components-base-control {
	font-size: 16px;
}

/* -------------------------
メディアと文章
------------------------- */
.wp-block-lazyblock-media-text-row .lzb-content-controls {
	flex-direction: row-reverse;
}

/* 画像の大きさ */
.lazyblock .lzb-gutenberg-image .lzb-gutenberg-image-item {
	width: 95%;
}

/* -------------------------
アラート
------------------------- */
.wp-block-lazyblock-alert .lzb-content-controls {
	position: relative;
	padding: 3em 1.5em 1em;
	background-color: #fef6f3;
	border-radius: .5em;
}