@charset "UTF-8";
/*
Reset
-----------------------------------------------------*/
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  margin: 0;
  clear: both;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  /* 2 */
  -webkit-text-decoration: underline dotted;
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  vertical-align: middle;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  color: inherit;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*
Base
-----------------------------------------------------*/
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1em;
  line-height: 1.75;
}

a {
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

/*
Container（コンテンツ最大幅）
-----------------------------------------------------*/
.l-container {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
}

/*
Footer
-----------------------------------------------------*/
.l-footer {
  padding: 2em 0 1em;
  background-color: #484241;
}

.l-footer__inner {
  display: flex;
  flex-direction: column-reverse;
}

.l-footer__address {
  margin-top: 2.5em;
}

.l-footer__logo img {
  max-width: 152px;
  max-height: 22px;
}

.l-footer__copyright {
  margin-top: 0.75em;
}
.l-footer__copyright small {
  color: #fff;
  font-size: 0.75em;
}

/*
Header
-----------------------------------------------------*/
.l-header {
  padding: 0.875em 0 1.125em;
  background-color: #fff;
}

.l-header__logo {
  text-align: center;
}
.l-header__logo img {
  max-width: 173px;
  max-height: 24px;
}

/*
Main
-----------------------------------------------------*/
.l-main {
  background-color: #fcfaf9;
}

/*
Section（heroブロックは含まない）
-----------------------------------------------------*/
.l-section {
  padding: 3em 0;
}

.l-section__home-block + .l-section__home-block {
  padding-top: 2em;
}

/*
ボタン
-----------------------------------------------------*/
.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  border: 0;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.c-button.-primary {
  width: 100%;
  padding: 0.625em;
  border: 1px solid #f28d68;
  border-radius: 2rem;
  background-color: #fff;
  color: #e97a51;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.c-button.-primary svg {
  fill: currentColor;
  margin-right: 4px;
  vertical-align: -2px;
}

.c-button.-guide {
  border-color: #8c9621;
  color: #8c9621;
}

/*
Grid Layout
-----------------------------------------------------*/
.c-grid {
  display: flex;
  flex-wrap: wrap;
}

.c-grid.-gutter {
  margin: -0.75em;
}
.c-grid.-gutter .c-grid__item {
  display: flex;
  border: 0.75em solid transparent;
  background-clip: padding-box;
}

.c-grid__item.-half {
  width: 100%;
}

.c-grid__item.-main {
  width: 100%;
}

.c-grid__item.-sub {
  width: 100%;
  margin: 1.5em 0 0 0;
  border-top: 2px dashed #e5e5e5;
}

/*
見出し
-----------------------------------------------------*/
.c-heading {
  font-weight: bold;
  line-height: 1.6;
}

.c-heading.-primary {
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e5e5e5;
  font-size: 1.125em;
  font-weight: bold;
}
.c-heading.-primary::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 32%;
  height: 2px;
  background-color: #f28d68;
  content: "";
}

.c-heading.-secondary {
  font-size: 1em;
}

.c-heading.-icon img {
  vertical-align: top;
}
.c-heading.-icon span {
  display: inline-block;
  width: calc(100% - 40px);
  margin-left: 0.5rem;
  word-break: break-word;
}

/*
input（入力フィールド共通）
-----------------------------------------------------*/
.c-input {
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 32px;
  background-color: #fff;
  font-family: inherit;
  font-size: 1em;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.c-input::-webkit-input-placeholder {
  color: #777;
}
.c-input::-moz-placeholder {
  color: #777;
}
.c-input:-ms-input-placeholder {
  color: #777;
}
.c-input::-ms-input-placeholder {
  color: #777;
}
.c-input::placeholder {
  color: #777;
}
.c-input:focus {
  border-color: #f28d68;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.c-input.-bg-dark {
  background-color: #fcfaf9;
}
.c-input.-bg-dark:focus {
  background-color: #fff;
}

/*
キーワードタグ
-----------------------------------------------------*/
.c-keyword {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25em;
}

.c-keyword__item {
  margin: 0.25em;
}
.c-keyword__item a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  padding: 2px 0.75rem;
  border: 1px solid #fff;
  border-radius: 16px;
  outline: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}
.c-keyword__item a:hover, .c-keyword__item a:focus {
  background-color: #fff;
  color: #f28d68;
}
.c-keyword__item a::before {
  display: inline-block;
  margin-right: 0.125rem;
  content: "#";
}

/*
リンクスタイル
-----------------------------------------------------*/
.c-link {
  color: #e97a51;
}

.c-link-blue {
  color: #208ec6;
}

.c-link-arrow {
  position: relative;
}
.c-link-arrow span {
  display: inline-block;
  margin-right: 0.75rem;
}
.c-link-arrow svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
記事エリア
-----------------------------------------------------*/
.p-article__date {
  text-align: right;
}
.p-article__date time {
  display: block;
  color: #777;
  font-size: 0.875em;
}
.p-article__date time:last-child {
  margin-left: 0.75em;
}

.p-article__body {
  /* -------------------------
  段落
  ------------------------- */
  /* -------------------------
  見出し
  ------------------------- */
  /* -------------------------
  リスト（記事内・関連記事）
  ------------------------- */
  /* -------------------------
  リンク
  ------------------------- */
}
.p-article__body p {
  margin-top: 2em;
  line-height: 2;
}
.p-article__body figure {
  margin: 2em 0;
}
.p-article__body h2, .p-article__body h3, .p-article__body h4, .p-article__body h5, .p-article__body h6 {
  font-weight: bold;
  line-height: 1.6;
}
.p-article__body h2 {
  position: relative;
  margin: 3em 0 1em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e5e5e5;
  font-size: 1.25em;
  font-weight: bold;
}
.p-article__body h2::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 32%;
  height: 2px;
  background-color: #f28d68;
  content: "";
}
.p-article__body h3 {
  position: relative;
  margin: 3em 0 1em;
  padding-left: 1rem;
  font-size: 1.125em;
}
.p-article__body h3::before {
  display: inline-block;
  position: absolute;
  top: 0.625em;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f28d68;
  content: "";
}
.p-article__body h2 + *, .p-article__body h3 + *, .p-article__body h4 + * {
  margin-top: 0;
}
.p-article__body h2 + h3, .p-article__body h3 + h4 {
  margin-top: 2rem;
}
.p-article__body > ul {
  margin: 1em 0;
}
.p-article__body ul li {
  position: relative;
  padding-left: 1em;
  line-height: 2;
}
.p-article__body ul li::before {
  display: inline-block;
  position: absolute;
  top: 0.875em;
  left: 0;
  width: 6px;
  height: 6px;
  margin: auto;
  border-radius: 50%;
  background-color: #aaa;
  content: "";
}
.p-article__body a {
  padding-right: 4px;
  border-bottom: 1px solid #208ec6;
  color: #208ec6;
}
.p-article__body a[target=_blank]::after {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23208ec6" d="M0,0V16H16V12H14v2H2V2H4V0ZM8,0l3,3L6,8l2,2,5-5,3,3V0Z" /></svg>');
  content: "";
}

.p-article__pagination {
  margin-top: 2.5em;
}

.p-article__related {
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-top: 2px dashed #e5e5e5;
}

/*
Banner
-----------------------------------------------------*/
.p-banner {
  text-align: center;
}
.p-banner a:hover {
  opacity: 0.7;
}

/*
パンくず
-----------------------------------------------------*/
.p-breadcrumb {
  padding: 0.625em 0;
  background-color: #fcfaf9;
}

.p-breadcrumb__list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.p-breadcrumb__list li {
  color: #aaa;
  font-size: 0.75em;
}
.p-breadcrumb__list li:not(:last-child)::after {
  display: inline-block;
  width: 0.375rem;
  height: 0.625rem;
  margin: 0 0.75rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 10"><path fill="%23aaa" d="M7.774,8.036l-4.4,4.45a.539.539,0,0,1-.768,0l-.513-.519a.554.554,0,0,1,0-.776L5.579,7.648,2.091,4.1a.554.554,0,0,1,0-.776l.513-.519a.539.539,0,0,1,.768,0l4.4,4.45A.554.554,0,0,1,7.774,8.036Z" transform="translate(-1.933 -2.648)" /></svg>');
  content: "";
}
.p-breadcrumb__list a {
  color: #333;
}

/*
404ページ
-----------------------------------------------------*/
.p-error-search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5em;
}

.p-error-search__button {
  width: 216px;
}

.p-error-search__field {
  width: 100%;
  margin: 1.25em 0 0 0;
}

/*
Hero（ファーストビュー）
-----------------------------------------------------*/
.p-hero {
  padding: 2.5em 0;
  background-color: #f28d68;
}

.p-hero__inner {
  display: flex;
  flex-wrap: wrap;
}

.p-hero__primary {
  width: 100%;
}

.p-hero__secondary {
  width: 100%;
}

.p-hero__subtitle {
  color: #fff;
  font-size: 0.75em;
}

.p-hero__title {
  color: #fff;
  font-size: 1.375em;
  font-weight: bold;
}

.p-hero__search-module {
  margin-top: 1.25em;
}

.p-hero__keyword {
  margin-top: 1em;
}

/* TOPページ
-----------------------------------------------------*/
.p-hero.-home {
  padding: 2em 0 1em;
}

.p-hero.-home .p-hero__secondary {
  margin-left: 0;
}

.p-hero.-home .p-hero__search-module {
  margin-top: 1.25em;
}

.p-hero__image {
  margin-top: 1.25em;
  text-align: center;
}
.p-hero__image img {
  width: 100%;
  max-width: 505px;
}

/*
Nav(footer)
-----------------------------------------------------*/
.p-nav {
  display: flex;
  flex-wrap: wrap;
}

.p-nav__block {
  width: 100%;
  min-width: 140px;
}
.p-nav__block:nth-child(2) {
  flex-shrink: 1;
}
.p-nav__block:not(:nth-child(2)) {
  flex-shrink: 1.5;
}
.p-nav__block + .p-nav__block {
  margin-top: 1.5em;
}

.p-nav__title {
  color: #fff;
  font-weight: bold;
}

.p-nav__menu {
  margin-top: 0.75em;
  padding-left: 0.75em;
  border-left: 1px solid #e5e5e5;
}

.p-nav__item {
  padding: 0.25rem 0;
  font-size: 0.75em;
}
.p-nav__item a {
  display: block;
  padding-bottom: 0.125rem;
  color: #fff;
}
.p-nav__item a[target=_blank]::after {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%23fff" d="M0,0V16H16V12H14v2H2V2H4V0ZM8,0l3,3L6,8l2,2,5-5,3,3V0Z" /></svg>');
  content: "";
}

/*
PageTop(footer)
-----------------------------------------------------*/
.p-page-top {
  display: none;
  z-index: 10;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
}
.p-page-top a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f28d68;
}
.p-page-top svg {
  fill: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
  width: 30px;
  height: 18px;
  margin: auto;
}

/*
ページネーション
-----------------------------------------------------*/
.p-pagination__item {
  max-width: 520px;
  margin: auto;
}

.p-pagination__title {
  margin: 1.5em 0 0.75em;
  font-weight: bold;
}

.p-pagination__button {
  position: relative;
}

.p-pagination__link {
  display: block;
  padding: 0.75em;
  border: 1px solid #d1d1d1;
  border-radius: 1em;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in-out;
}
.p-pagination__link span {
  display: inline-block;
}
.p-pagination__link svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: -webkit-transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.p-pagination__item.-next .p-pagination__link {
  border: 1px solid #f28d68;
  color: #e97a51;
}
.p-pagination__item.-next span {
  margin-right: 1em;
}
.p-pagination__item.-next svg {
  fill: currentColor;
  right: 0.75em;
}

.p-pagination__item.-prev span {
  margin-left: 1em;
}
.p-pagination__item.-prev svg {
  left: 0.75em;
}

/*
Panel
-----------------------------------------------------*/
.p-panel {
  padding: 1.5em 1em;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}

.p-panel__body {
  margin-top: 1.5em;
}

.p-panel__body.-mg-small {
  margin-top: 0.5em;
}

.p-panel__item {
  border-bottom: 1px solid #e5e5e5;
}
.p-panel__item a {
  display: flex;
  flex-direction: column;
  padding: 0.875rem 4px;
  font-size: 0.875em;
  transition: box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.p-panel__item time {
  min-width: 124px;
  margin-right: 4px;
}
.p-panel__item span {
  display: inline-block;
  margin-right: 0.75rem;
}
.p-panel__item svg {
  right: 4px;
}

.p-panel__search-text {
  margin: 0 0 0.5rem 4px;
  color: #777;
  font-size: 0.875em;
}
.p-panel__search-text::before {
  padding-right: 2px;
  content: "※";
}

/* TOPページのとき
-----------------------------------------------------*/
.p-panel.-home {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 340px;
}

.p-panel.-home .p-panel__title span {
  width: calc(100% - (82px + 24px + 4px));
}

.p-panel__more {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
.p-panel__more a {
  position: relative;
  font-size: 0.875em;
}
.p-panel__more a span {
  padding-right: 0.75rem;
}
.p-panel__more a svg {
  -webkit-transform: translateY(-50%);
  fill: currentColor;
  position: absolute;
  top: 50%;
  right: 0;
          transform: translateY(-50%);
  transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* 記事アイテムがないとき（TOPページ）
-----------------------------------------------------*/
.p-panel.-disabled {
  background-color: #fef6f3;
  pointer-events: none;
}
.p-panel.-disabled .p-panel__more {
  opacity: 0;
}
.p-panel.-disabled::after {
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
          transform: translate(-50%, -50%);
  font-weight: bold;
  content: "準備中...";
}

/* 大きいサイズ（記事メインエリア）
-----------------------------------------------------*/
.p-panel.-large {
  min-height: 256px;
}

/* サイドメニュー
-----------------------------------------------------*/
.p-panel.-side-menu {
  padding: 1.5em 1em;
}

/* 小さいサイズ（お問い合わせ・かえるAI）
-----------------------------------------------------*/
.p-panel.-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-panel__module {
  margin-top: 1.25em;
}

.p-panel__tel {
  line-height: 1;
}
.p-panel__tel span {
  margin-left: 0.5rem;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.p-panel__desc {
  margin-top: 0.75rem;
  color: #777;
  font-size: 0.875em;
  font-weight: bold;
}

.p-panel__image img {
  max-width: 220px;
  max-height: 52px;
}

.p-panel__button {
  width: 100%;
  max-width: 260px;
  margin-top: 1.25em;
}

/*
関連記事
-----------------------------------------------------*/
.p-related__title {
  position: relative;
  padding-left: 1rem;
  font-size: 1.125em;
  font-weight: bold;
}
.p-related__title::before {
  display: inline-block;
  position: absolute;
  top: 0.625em;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f28d68;
  content: "";
}

.p-related__list {
  margin-top: 0.75em;
}
.p-related__list li {
  position: relative;
  padding-left: 1em;
  line-height: 2;
}
.p-related__list li::before {
  display: inline-block;
  position: absolute;
  top: 0.875em;
  left: 0;
  width: 6px;
  height: 6px;
  margin: auto;
  border-radius: 50%;
  background-color: #aaa;
  content: "";
}
.p-related__list li {
  color: #aaa;
}
.p-related__list a {
  color: #e97a51;
  transition: -webkit-text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}

/*
検索エリア
-----------------------------------------------------*/
.p-search {
  position: relative;
}

.p-search__field {
  padding: 0.5em 1em;
}

.p-search__submit {
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  width: 2em;
  height: 2em;
  margin: auto 0;
  padding: 0.375em;
  border-radius: 50%;
}
.p-search__submit:hover, .p-search__submit:focus {
  background-color: #f28d68;
}
.p-search__submit:hover svg, .p-search__submit:focus svg {
  fill: #fff;
}
.p-search__submit svg {
  width: 1.25em;
  height: 1.25em;
}

/*
サイドメニュー
-----------------------------------------------------*/
.p-side-list {
  margin-top: 1em;
}
.p-side-list > li {
  border-bottom: 1px solid #e5e5e5;
}

.p-side-list__button {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.75em 0.5em;
  transition-duration: 0.2s;
}
.p-side-list__button svg {
  position: absolute;
  top: 0;
  right: 0.5em;
  bottom: 0;
  margin: auto;
  transition: 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.p-side-list__button.is-open {
  background-color: #f28d68;
  color: #fff;
}
.p-side-list__button.is-open svg {
  fill: #fff;
  -webkit-transform: rotate(270deg);
  -webkit-transform: scale(-1, 1) rotate(-90deg);
          transform: rotate(270deg);
          transform: scale(-1, 1) rotate(-90deg);
}

.p-side-list__button.-back span {
  margin-left: 4px;
  font-size: 0.875em;
}
.p-side-list__button.-back svg {
  fill: currentColor;
  position: unset;
  transition: -webkit-transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.p-side-list__button.-back:hover svg {
  -webkit-transform: translateX(-4px) rotate(180deg);
          transform: translateX(-4px) rotate(180deg);
}

.p-side-list__accordion {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.p-side-list__accordion ul {
  padding: 0.75em;
  background-color: #fef6f3;
}
.p-side-list__accordion li:last-child a {
  display: inline-block;
  font-size: 0.75em;
}
.p-side-list__accordion a {
  display: block;
  padding: 0.5em 0;
}
.p-side-list__accordion a.is-current {
  position: relative;
  padding-left: 0.5em;
  color: #e97a51;
  font-weight: bold;
}
.p-side-list__accordion a.is-current::before {
  display: inline-block;
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 0;
  width: 2px;
  border-radius: 4px;
  background-color: #f28d68;
  content: "";
}
.p-side-list__accordion a.is-current svg {
  fill: transparent;
}
.p-side-list__accordion span {
  font-size: 0.875em;
  line-height: 1.6;
}
.p-side-list__accordion svg {
  width: 6px;
  height: 10px;
}

/*
Widget
-----------------------------------------------------*/
.p-widget {
  width: 100%;
  max-width: 600px;
  margin: 1.5em auto 0;
}

/*
PopUpプラグイン Fancy BoxのCSSを上書き
-----------------------------------------------------*/
#fancybox-wrap #fancybox-outer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/*
目次プラグイン TOCのCSS
-----------------------------------------------------*/
#toc_container {
  margin-top: 1em;
}

#toc_container .toc_title {
  position: relative;
  margin: 0 0 1em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #e5e5e5;
  font-size: 1.25em;
  font-weight: bold;
}
#toc_container .toc_title::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 32%;
  height: 2px;
  background-color: #f28d68;
  content: "";
}

/*
メディアと文章（写真とテキスト横並び）
Gutenbergにオリジナルブロックとして追加
-----------------------------------------------------*/
.wp-custom-media-text {
  margin-top: 2em;
}
.wp-custom-media-text + .wp-custom-media-text {
  padding-top: 1.5em;
  border-top: 1px dashed #e5e5e5;
}
.wp-custom-media-text p {
  margin-top: 0;
}
.wp-custom-media-text img {
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.16);
}

.wp-custom-media-text__image {
  position: relative;
  margin: 0.75em 0;
}
.wp-custom-media-text__image a {
  display: block;
  padding: 0;
  border: none;
  color: transparent;
}
.wp-custom-media-text__image a::after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("./../img/icon-zoom.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2em;
  content: "";
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.wp-custom-media-text__image a.is-active::after {
  opacity: 1;
}

/* 縦並び
-----------------------------------------------------*/

/* 横並び
-----------------------------------------------------*/
.wp-custom-media-text.-row {
  display: flex;
  flex-wrap: wrap;
}
.wp-custom-media-text.-row .wp-custom-media-text__content {
  flex: 1;
}

/*
POINTボックス
Gutenbergにオリジナルブロックとして追加
-----------------------------------------------------*/
.wp-custom-point {
  position: relative;
  padding: 3em 1.5em 1em;
  border-radius: 0.5em;
  background-color: #fef6f3;
}

.wp-custom-point__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 1.25em;
  border-radius: 0.5em 0 0 0;
  background-color: #f28d68;
  color: #fff;
}
.wp-custom-point__label svg {
  fill: currentColor;
  margin-right: 0.375em;
}

.wp-custom-point .wp-custom-point__body > * {
  margin: 0.5em 0;
}

/*
Utility
-----------------------------------------------------*/
.u-text-upper {
  text-transform: uppercase;
}

.u-svg-arrow {
  fill: #b5b5b5;
  width: 8px;
  height: 12px;
}
.u-svg-arrow.-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.u-svg-arrow.-bottom {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.u-svg-mail {
  width: 20px;
  height: 16px;
}

.u-svg-blank {
  width: 16px;
  height: 16px;
}

.u-svg-home {
  width: 20px;
  height: 16px;
}

.u-svg-point {
  width: 20px;
  height: 15px;
}

@media screen and (min-width: 35em){
  .p-article__date time {
    display: inline-block;
  }
  .p-nav {
    flex-wrap: nowrap;
  }
  .p-nav__block + .p-nav__block {
    margin: 0 0 0 0.5em;
  }
  .p-nav__item {
    font-size: 0.875em;
  }
}

@media screen and (min-width: 48em){
  .l-footer {
    padding: 2.5em 0;
  }
  .l-footer__inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .l-footer__address {
    margin-top: 0;
  }
  .l-footer__logo img {
    max-width: 180px;
    max-height: 28px;
  }
  .l-footer__copyright small {
    font-size: 0.875em;
  }
  .l-footer__nav {
    width: 76%;
    max-width: 648px;
    margin-left: 1.5em;
  }
  .l-header {
    padding: 1.5em 0 1.25em;
  }
  .l-header__logo {
    text-align: left;
  }
  .l-header__logo img {
    max-width: 230px;
    max-height: 32px;
  }
  .l-section {
    padding: 4em 0;
  }
  .l-section__home-block + .l-section__home-block {
    padding-top: 3em;
  }
  .c-button.-primary:hover {
    background-color: #f28d68;
    color: #fff;
  }
  .c-button.-guide:hover {
    background-color: #8c9621;
  }
  .c-grid__item.-half {
    width: 50%;
  }
  .c-heading.-primary {
    font-size: 1.25em;
  }
  .c-heading.-secondary {
    font-size: 1.125em;
  }
  .c-keyword__item a {
    font-size: 0.875em;
  }
  .c-link-blue:hover {
    color: #3aa7df;
  }
  .c-link-arrow:hover {
    color: #e97a51;
  }
  .c-link-arrow:hover svg {
    -webkit-transform: translateX(4px);
    fill: currentColor;
            transform: translateX(4px);
  }
  .p-article__body h2 {
    font-size: 1.5em;
  }
  .p-article__body h3 {
    font-size: 1.25em;
  }
  .p-article__body a:hover {
    border-color: transparent;
    color: #3aa7df;
  }
  .p-breadcrumb__list li {
    font-size: 0.875em;
  }
  .p-breadcrumb__list a:hover {
    color: #e97a51;
  }
  .p-error-search__field {
    flex: 1;
    margin: 0 0 0 1.25em;
  }
  .p-hero__subtitle {
    font-size: 0.875em;
  }
  .p-hero__title {
    font-size: 1.75em;
  }
  .p-nav__item a {
    display: inline;
  }
  .p-nav__item a:hover {
    border-bottom: 1px solid #fff;
  }
  .p-page-top {
    display: block;
  }
  .p-pagination__link {
    padding: 1.1875em 1em;
  }
  .p-pagination__link:hover {
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    color: #e97a51;
  }
  .p-pagination__link:hover svg {
    fill: currentColor;
  }
  .p-pagination__item.-next svg {
    right: 1em;
  }
  .p-pagination__item.-next .p-pagination__link:hover svg {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  .p-pagination__item.-prev svg {
    left: 1em;
  }
  .p-pagination__item.-prev .p-pagination__link:hover svg {
    -webkit-transform: translateX(-4px) rotate(180deg);
            transform: translateX(-4px) rotate(180deg);
  }
  .p-panel {
    padding: 1.5em 1.25em;
  }
  .p-panel__item a {
    flex-direction: row;
    padding: 0.875em 0.5em;
    font-size: 1em;
  }
  .p-panel__item a:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    opacity: 1;
  }
  .p-panel__item svg {
    right: 0.5rem;
  }
  .p-panel__search-text {
    margin-left: 0.5rem;
  }
  .p-panel__more a:hover svg {
    right: -4px;
  }
  .p-panel.-large {
    padding: 1.5em 2.25em 2.5em;
  }
  .p-related__title {
    font-size: 1.25em;
  }
  .p-related__list a:hover {
    color: #ec8b68;
    text-decoration: underline;
  }
  .p-search__field {
    padding: 0.75em 1.25em;
  }
  .p-search__submit {
    right: 1.25em;
  }
  .p-side-list__accordion li:last-child a {
    font-size: 0.875em;
  }
  .p-side-list__accordion span {
    font-size: 1em;
  }
  #toc_container .toc_title {
    font-size: 1.5em;
  }
  .wp-custom-media-text.-column .wp-custom-media-text__image {
    width: calc(560 / 684 * 100%);
  }
  .wp-custom-media-text.-row {
    flex-direction: row-reverse;
  }
  .wp-custom-media-text.-row .wp-custom-media-text__content {
    margin-left: 1.25em;
  }
  .wp-custom-media-text.-row .wp-custom-media-text__image {
    width: calc(344 / 684 * 100%);
    margin: 0;
  }
}

@media screen and (min-width: 61.25em){
  .c-grid.-gutter {
    margin: -1em;
  }
  .c-grid.-gutter .c-grid__item {
    border-width: 1em;
  }
  .c-grid__item.-main {
    flex: 1;
  }
  .c-grid__item.-sub {
    width: 300px;
    margin: 0 0 0 2em;
    border: unset;
  }
  .p-hero__primary {
    flex: 1;
  }
  .p-hero__secondary {
    max-width: 480px;
    margin-left: 2em;
  }
  .p-hero__search-module {
    margin-top: 0;
  }
  .p-hero__image {
    margin: 0;
    text-align: right;
  }
  .p-nav__block {
    min-width: 180px;
  }
  .p-widget {
    margin-top: 2em;
  }
  .p-widget:first-child {
    margin-top: 0;
  }
}
